body {
  margin: 0;
  box-sizing: border-box;
  background-color: lightblue;
  color: #222222;

  main {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // mixin 쓰기

    .time1 {
      font-size: 80px;
      text-shadow: /* Green glow */ 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa,
        0 0 102px #0fa, 0 0 151px #0fa;
    }
    .time2 {
      font-size: 80px;
      text-shadow: /* Green glow */ 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa,
        0 0 102px #0fa, 0 0 151px #0fa;
      opacity: 0.3;
      transform: scaleY(-1);
      transition: 1s;
    }

    .quotes {
      position: relative;

      .quotesAddBtn {
        display: none;
        position: absolute;
        top: 50%;
        right: 50%;
        // 정 가운데 맞추기 위해 transform 써야됨.
        transform: translate(50%, -50%);
      }

      &:hover {
        .quotesAddBtn {
          display: inline-block;
        }
      }
    }

    .newQuotes {
      display: none;
    }
  }
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
